*{
    margin: 0;                        /* sets all margin to 0 */
    font-family: sans-serif;          /* sets font family to sans-serif */
}

body{
    background-image: url("../images/trianglify-lowres.png"); /* adds background image to site */
    background-repeat: no-repeat;                           /* prevents the background from repeating */
    background-size: cover;                                  /* makes the background image size 100% */
}

/* header */

.header_content{
    display: flex;                    /* displays all header content in line */
    align-items: center;              /* aligns all items vertically */
    margin-top: 5px;                  /* adds margin to the top of the header content */
    margin-left: 20px;                /* adds margin to left of the header content */
}

.header_nav{
    display: flex;                    /* displays header buttons in line */  
    gap: 100px;                       /* puts a gap between each header button */
    margin: 0 auto;                   /* aligns nav buttons to center of the page */
}

.header_nav a{
    display: flex;                    /* sets display to flex to be able to align text within buttons */
    background-color: #0D1821;      /* adds a background color to each button */
    color: white;                   /* changes the text color to white */
    text-decoration: none;            /* removes the underline from each link */
    width: 100px;                     /* makes the button width 100px */
    height: 50px;                     /* makes the button height 50px */
    border-radius: 25px;              /* makes the border radius 25px */
    justify-content: center;          /* horizontally aligns text within button */
    align-items: center;              /* vertically aligns text within button */
}

.header_nav a:hover{
    background-color: #142533;      /* changes hover color */
}

.mobile_menu_toggle{
    display: none;
}

.mobile_header_content{
    display: none;
}

/* body */

main{
    background-color: white;        /* changes background color of main section to white */
    padding: 50px;                    /* adds padding to the edges of the main section */
}

.sec_one, .sec_two, .sec_three{
    display: flex;                    /* allows image and text to be aligned horizontally */
    justify-content: center;          /* aligns image and text horizontally */
    align-items: center;              /* aligns image and text vertically */
    margin-bottom: 20px;              /* adds 20px of margin to the bottom of the section */
    flex-wrap: wrap;                  /* allows the text to properly wrap */
}

.sec_one p, .sec_three p{
    margin-left: 50px;                /* adds 50px of margin to the left of the paragraph */
    max-width: 800px;                 /* sets element's max-width */
    flex: 1;                          /* ensures section stays the same */
}

.sec_two p{
    margin-right: 50px;               /* adds 50px of margin to the right of the paragraph */
    max-width: 800px;                 /* sets element's max-width */
    flex: 1;                          /* ensures section stays the same */
}

main a img:hover{
    transform: scale(1.1);            /* enlarges image when mouse hoves over it */
    transition: .25s;                 /* allows image to grow over .25 seconds instead of immediately */
}


/* footer */

.footer_content{
    display: flex;                    /* allows footer content to align horizontally */
    justify-content: center;          /* centers footer content horizontally */
    align-items: center;              /* centers footer content vertically */
    gap: 20px;                        /* adds a gap of 20px between footer sections */
    padding: 20px;                    /* adds padding of 20px around footer content */
}

.sec_copyright{
    flex-grow: 1;                     /* gives copyright section designated space */
    text-align: left;                 /* aligns copyright text to the left */
}

.sec_social{
    display: flex;                    /* allows social images to be aligned horizontally */
    gap: 15px;                        /* adds a gap of 15px between social images */
    position: absolute;               /* sets position to abosluted so images can be precisely positioned */
    left: 50%;                        /* sets the position of images 50% from the left */
    transform: translateX(-50%);      /* perfectly centers social images */
}

@media (max-width: 768px){
    
    *{
        margin: 0;
    }
    
    body{
        background-image: url("../images/trianglify-lowres.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100dvh;
    }

    /* header */
    .header_content{
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
    }

    .header_nav{
        display: none;
    }

    .mobile_menu_toggle{
        display: block;
    }

    .mobile_toggle{
        cursor: pointer;
        border: none;
        border-radius: 10px;
        background-color: #fff;
        font-size: 24px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile_header_content{
        display: none;
    }

    .mobile_nav{
        background-color: rgba(46, 106, 59, .5);
        text-align: center;
        padding: 10px;
    }

    .mobile_link{
        text-decoration: none;
    }

    .mobile_button{
        margin: 20px auto;
        padding: 10px;
        color: white;
        background-color: #000;
        border-radius: 25px;
        width: 200px;
    }

    .remove-header{
        display: block;
    }

    /* body */
    body, main {
        margin: 0 auto;
        padding: 10px 0 0 0;
        text-align: center;
        width: 100%;
    }

    main a img:hover{
        transform: scale(1);
    }

    .sec_one, .sec_two, .sec_three{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .sec_one_img, .sec_two_img, .sec_three_img{
        order: -1;
    }

    .sec_one_para p, .sec_two_para p, .sec_three_para p{
        margin: 10px 20px;
    }

    /* footer */
    footer{
        padding: 10%;
    }

    .sec_copyright{
        display: none;
    }

}